@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #000000; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-michroma);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #00113528;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-michroma), sans-serif;
  background-image: url('/istockphoto-1466389711-1024x1024.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

input {
  background: #5ba4f0;
  border: 2px solid #afc5db;
  font-weight: bold;
}